In [1]:
import pandas as pd
import numpy as np
from datetime import datetime as dt

In [2]:
DATAPATH = "data/data_inflasi.csv"

In [42]:
def load_data(PATH=DATAPATH):
    """_summary_

    Args:
        PATH (_type_, optional): _description_. Defaults to DATAPATH.

    Returns:
        _type_: _description_
    """
    data = pd.read_csv(PATH, parse_dates=[0], dayfirst=True)[::-1]
    data = data.set_index("Periode")
    return data


data = load_data()

In [43]:
data.index[0].to_pydatetime()

datetime.datetime(2003, 1, 1, 0, 0)

In [44]:
data[data.index[0].to_pydatetime(): data.index[-1].to_pydatetime()]

            Tingkat Inflasi
Periode
2003-01-01             8.68
2003-02-01             7.60
2003-03-01             7.17
2003-04-01             7.62
2003-05-01             7.15
...                     ...
2022-08-01             4.69
2022-09-01             5.95
2022-10-01             5.71
2022-11-01             5.42
2022-12-01             5.51

[240 rows x 1 columns]

In [45]:
data.index = pd.to_datetime(data.index,format='%Y-%m-%d')

In [46]:
print(data.index[0])

2003-01-01 00:00:00

In [47]:
data[data.index[1]:data.index[-1]]

            Tingkat Inflasi
Periode
2003-02-01             7.60
2003-03-01             7.17
2003-04-01             7.62
2003-05-01             7.15
2003-06-01             6.98
...                     ...
2022-08-01             4.69
2022-09-01             5.95
2022-10-01             5.71
2022-11-01             5.42
2022-12-01             5.51

[239 rows x 1 columns]

In [48]:
data.index.freq = 'MS'

In [49]:
from statsmodels.tsa.arima.model import ARIMA

In [50]:
model = ARIMA(data, order=(0,0,0), freq='MS').fit()

In [51]:
data.index[3]

Timestamp('2003-04-01 00:00:00', freq='MS')

In [58]:
model.forecast(10).index[3].month

4